.burger{
    width: 150px;
    margin-top: -20px;
    margin-bottom: -20px;
    height: 30px;
}
.Shop{
    background-color: black;
    color: rgb(253, 253, 253);
    margin-right: 1px;
    margin-left: 900px;
    width: 100px;
    height: 50px;
    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 2px;
    border-radius: 8px;
    
}
.register{
    background-color: black;
    color: rgb(253, 253, 253);
    margin-right: 1px;
    margin-left: 60px;
    width: 100px;
    height: 50px;
    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 2px;
    border-radius: 8px;
}
header{
    display: flex;
}
.img{
    height: 100px;
    margin-top: -10px;
    margin-bottom: -20px;
}


.back{
    margin-top: 20px;
    background-image: url(https://i.pinimg.com/736x/4f/75/1a/4f751a737d4a0c80f5f90f66a346b850.jpg);
    background-size: cover;
    height: 1000px;
    margin-left: -10px;
    margin-right: -10px;
    background-position: center;
    padding-left: 730px;
    padding-top: 500px;
}
.tx{
    background-color: black;
    color: rgb(255, 255, 255);
    width: 170px;
    height: 80px;
    font-size: 30px;
    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
.products{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    flex-wrap: wrap;

}
.mp3{
    background-color: rgb(147, 147, 147);
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-left: 50px;
    padding-left: 100px;
    padding-top: 100px;
    font-size: 50px;
}
.clothes{
    margin-left: 50px;
    background-color: rgb(147, 147, 147);
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-left: 50px;
    padding-left: 100px;
    padding-top: 100px;
    font-size: 50px;
}
.phone{
    margin-left: 50px;
    background-color: rgb(147, 147, 147);
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-left: 50px;
    padding-left: 100px;
    padding-top: 100px;
    font-size: 50px;
}
.disk{
    margin-left: 50px;
    background-color: rgb(147, 147, 147);
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-left: 50px;
    padding-left: 100px;
    padding-top: 100px;
    font-size: 50px;
    margin-top: 20px;
}



.foo{
    margin-top: 10px;
    background-color: black;
    height: 300px;
    width: t;
    margin-bottom: -10px;
    margin-right: -10px;
    margin-left: -10px;
    padding-left: 650px;
    padding-top: 150px;
}
.tet{
    color: rgb(255, 255, 255);

}




.bod{
    background-color: rgb(163, 163, 163);
}
.kv{
    width: 500px;
    height: 600px;
    background-color: azure;
    border-radius: 10px;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    margin-left: 500px;
    margin-top: 100px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0,1);
}
.vnu{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    margin-left: 150px;
    display: flex;
    

}
textarea{
    margin-top: 20px;
    width: 300px;
    height: 50px;
}
#Passw{
    height: 50px;
    width: 300px;
}
#Conpassw{
    height: 50px;
    width: 300px;
}
#email{
    height: 50px;
    width: 300px;
}
.key{
    margin-top: 10px;
}

.mg{
    margin-top: 10px;
    width: px;
    margin-left: 200px;
}


.hh1{
    background-color: rgb(0, 0, 0);
    height: 100px;
    margin-bottom: 50px;
    margin-left: 300px;
    width: 700px;
    font-size: 50px;
    padding-left: 200px;
    padding-bottom: 20px;
}
.hh1 h1{
    color: rgb(255, 255, 255);
}
.ob{
    margin-top: 50px;
    margin-left: 100px;
    height: 200px;
    width: 1200px;
    background-color: rgb(255, 255, 255);
    border: 10px black solid ;
}
.go{
    background-color: blue;
    height: 40px;
    display: flex;
    padding-top: 10px;
    
}
.circle{
    background-color: black;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
}
.X{
    margin-left: 1070px;
    margin-top: -30px;
}
.to{
    display: flex;
}
.tofar{
    height: 150px;
    width: 270px;
    margin-left: -50px;
    margin-top: 0px;
}
.to h1{
    margin-left: 50px;
}
.to h2{
    margin-left: 650px;
    font-size: 50px;
    margin-top: 80px;
}




.nj{
    background-color: rgb(81, 81, 81);
}
.poisk{
    padding-left:300px ;
    border-radius: 10px;
    padding-top: 15px;
    margin-left: 450px;
    height: 40px;
    width: 300px;
    background-color: rgb(176, 176, 176);
    display: flex;
    color: rgb(0, 0, 0);
}
.gorod{
    margin-left: 10px;
    font-size: 20px;
}
.vibrat{
    background-color: rgb(195, 195, 195);
    
    height: 40px;
}
.glav{
    margin-top: 30px;
    display: flex;
}
.cate{
    margin-left: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(161, 161, 161);
    height: 700px;
    width: 400px;
    border-radius: 10px;
}
.spis{
    padding-left: 20px;
    color: rgb(10, 10, 10);
}
.prod{
    margin-left: 20px;
    background-color: rgb(59, 59, 59);
    height: 700px;
    width: 1100px;
    border-radius: 10px;
    display: flex;
}
.obj{
    height: 400px;
    width: 350px;
    background-color: black;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.mj{
    height:150px ;
    width: 350px;
    border-radius: 10px;
}
.iimg{
    height: 200px ;
    width: 350px;
    border-radius: 10px;
}